.header{
    padding-top: 26px;
    padding-bottom: 26px;
    background: linear-gradient(to right,#7E6D53, #2D2A22);
    @media screen and  (min-width:768px) {
            padding-top: 33px;
            padding-bottom: 36px;
    }

    &__wrap{
        display: flex;
        justify-content: space-between;
        @media screen and  (min-width:768px) {
            align-items: center;
    }
    }

    &__logo{
        width: 50px;
        height: 50px;
        fill: $header-fill-color;
        margin-right: auto;
        @media screen and  (min-width:768px) {
            width: 56px;
            height: 56px;
            margin-right: 0;
    }
    }

    &__list{
        display: none;
        @media screen and  (min-width:768px) {
            display: flex;
            gap: 32px;
    }
    @media screen and  (min-width: 1176px) {
        gap: 48px;
    }
    }

    &__link{
        font-family: $second-family;
font-weight: 400;
font-size: 16px;
color: $header-link-color;
    }

    &__btn{
        display: none;
        @media screen and  (min-width: 1176px) {
        display: block;
        font-family: $font-family;
font-weight: 300;
font-size: 16px;
color: $header-btn-text;
padding-top: 8px;
background-color: $btn-bcg;
border: 1px solid $btn-border;
border-radius: 8px;
padding: 4px 29px;
margin-left: 146px;
transition-property: color,background-color;
transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
transition-duration: 300ms;
&:hover{
    color: $btn-text-hover;
    background-color: $btn-hover;
}
    }
    }

    &__button-mobile{
        background-color: $btn-bcg;
        border: none;
        @media screen and  (min-width:768px) {
            display: none;
    }
    }

    &__burger{
        fill: $header-fill-color;
        width: 24px;
        height: 24px;
    }
}

