.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1176px;
    padding-left: 16px;
    padding-right: 16px;
    outline: 1px solid rgb(0, 0, 0);
        @media screen and  (min-width:320px) {
            padding-left: 20px;
            padding-right: 20px;
        width: 320px;
    }
    @media screen and  (min-width:768px) {
        width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }

    @media screen and  (min-width: 1176px) {
        width: 1176px;
    }
}