$header-link-color:#fcfcfb;
$header-fill-color:#FFFFFF;
$header-btn-text:#FCFCFB;
$font-family:"Poppins", sans-serif;
$second-family: "Inter", sans-serif;
$third-family: "Montserrat", sans-serif;
$btn-bcg:transparent;
$btn-border:#fcfcfb;
$btn-hover:#fcfcfb;
$btn-text-hover:#2d2a22;
$hero-title-color:#7E6D53;
$hero-text-color:#7E6D53;
$hero-btn-text:#2d2a22;
$hero-btn-bcg:#fcfcfb;
$hero-btn-text-hover:#fcfcfb;
$hero-btn-bcg-hover:#7e6d53;